# PythonBasics

In [55]:
# Print statement
print('Welcome')

Welcome

In [56]:
# F-String example: Add 'f' letter to the start of the print statement to insert values into print statements
num = 25
name = 'Chakradhar'
print(f'My number is: {num}, and my name is: {name}')

My number is: 25, and my name is: Chakradhar

### Lists

In [57]:
my_list_1 = [1,2,3]
print(my_list_1)

[1, 2, 3]

In [58]:
# heterogeneous list
my_list_2 = [1,2.3,'hello']
print(my_list_2)

[1, 2.3, 'hello']

In [59]:
my_list_2[2]

'hello'

In [60]:
my_list_2.append('world')
print(my_list_2)

[1, 2.3, 'hello', 'world']

In [61]:
len(my_list_2)

4

In [62]:
my_list_3 = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]

# start with 0th element until last element, grab every 2nd element.
my_list_3[0::2]

[0, 2, 4, 6, 8, 10, 12, 14, 16]

In [63]:
# start with 4th element until 14th element, grab every 3rd element.
my_list_3[4:14:3]

[4, 7, 10, 13]

In [64]:
my_list_3[-1]

16

In [65]:
my_list_3[::-1]

[16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [66]:
# grabbing element from back of the list starting from 12th to 0th element.
my_list_3[12:0:-1]

[12, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [67]:
my_list_3[12:0:-3]

[12, 9, 6, 3]

In [ ]:
# multiplying a list with '2' makes it double the length repeating the elements
my_list_3 * 2

In [69]:
my_list_3.pop()

16

In [70]:
my_list_3.pop('15')

TypeError: 'str' object cannot be interpreted as an integer

In [71]:
lst_1 = [1, 2, 3]
lst_2 = [4, 5, 6]
lst_3 = [7, 8, 9]
my_nested_list_1 = [lst_1, lst_2, lst_3]

In [72]:
my_nested_list_1[0]

[1, 2, 3]

In [78]:
my_nested_list_1.pop()

[7, 8, 9]

In [79]:
my_nested_list_1

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [80]:
my_nested_list_1.append(lst_3)
my_nested_list_1

[[1, 2, 3], [4, 5, 6], [7, 8, 9], [7, 8, 9]]

In [81]:
#removes the value rather than the location of the list
my_list_3.remove(2)

In [82]:
my_list_3

[0, 1, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [84]:
# delete the element from the list (pop returns the value but del doesn't)
del my_list_3[2]

In [114]:
my_list_3

[0, 1, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

### Dictionaries

In [86]:
my_dict_1 = {'key1':'value1', 'key2':'value2'}
my_dict_1

{'key1': 'value1', 'key2': 'value2'}

In [87]:
my_dict_1['key1']

'value1'

In [88]:
my_dict_2 = {'key1':123, 'key2':[12,23,33], 'key3':['item0','item1','item2']}
my_dict_2['key3']

['item0', 'item1', 'item2']

In [89]:
my_dict_2['key3'][2]

'item2'

In [90]:
my_dict_2 = {'key1':123, 'key2':[12,23,33], 'key3':[['item0','item1'],['item3','item4'],['item5','item6']]}

In [92]:
my_dict_2['key3'][1]

['item3', 'item4']

In [93]:
my_dict_2['key3'][1][0]

'item3'

In [94]:
# prints all the keys of the dict
my_dict_2.keys()

dict_keys(['key1', 'key2', 'key3'])

In [95]:
# prints all the values of the dict
my_dict_2.values()

dict_values([123, [12, 23, 33], [['item0', 'item1'], ['item3', 'item4'], ['item5', 'item6']]])

In [96]:
# keys and values
my_dict_2.items()

dict_items([('key1', 123), ('key2', [12, 23, 33]), ('key3', [['item0', 'item1'], ['item3', 'item4'], ['item5', 'item6']])])

### Sets

In [110]:
# SET take unique values and sorts them.
my_set_1 = set()
my_set_1 = {1,3,2,4,3,2,8}
print(my_set_1)

{1, 2, 3, 4, 8}

In [111]:
my_set_1.add(0)
my_set_1.add(7)

In [112]:
my_set_1

{0, 1, 2, 3, 4, 7, 8}

In [105]:
my_set_2 = set()
my_set_2 = {'Hello','hello'}
print(my_set_2)

{'Hello', 'hello'}

In [107]:
my_set_2.add(2)
my_set_2

{2, 'Hello', 'hello'}

In [115]:
my_set_2.add(3)
my_set_2

{2, 3, 'Hello', 'hello'}

In [116]:
my_set_2.add('hELLO')
my_set_2

{2, 3, 'Hello', 'hELLO', 'hello'}

In [118]:
my_set_2.add('abc')
my_set_2

{2, 3, 'Hello', 'abc', 'hELLO', 'hello'}

### Tuples

In [121]:
# TUPLES are IMMUTABLE Lists initialized using '()'
my_tuple_1 = (0,1,2,3,4,5,6)
my_tuple_1

(0, 1, 2, 3, 4, 5, 6)

In [122]:
len(my_tuple_1)

7

In [124]:
type(my_tuple_1)

tuple

In [129]:
my_tuple_2 = ('two','one','one',3,3)
my_tuple_2.index('one')

1

In [130]:
my_tuple_2.count('two')

1

In [131]:
my_tuple_2.count(3)

2

### Loops

In [133]:
# Grab every letter in string
lst = [x for x in 'word']
lst

['w', 'o', 'r', 'd']