### NumPy and Pandas

In [8]:
import numpy as np
import pandas as pd

In [2]:
np.__version__

'1.15.4'

In [4]:
y = np.array([1.2, 3.4, 5.6, 7.8, 9.0])
type(y)

numpy.ndarray

In [5]:
len(y)

5

In [6]:
y.dtype

dtype('float64')

In [9]:
pd.__version__

'0.23.4'

In [11]:
dates = pd.date_range('20190829', periods=6)
print(dates)
df = pd.DataFrame(np.random.randn(6,4), 
                  index   = dates,
                  columns = list('ABCD') )
df

DatetimeIndex(['2019-08-29', '2019-08-30', '2019-08-31', '2019-09-01',
               '2019-09-02', '2019-09-03'],
              dtype='datetime64[ns]', freq='D')

                   A         B         C         D
2019-08-29 -0.285365  0.693021 -0.950973  0.195385
2019-08-30 -0.300471 -1.168541 -0.402567 -0.614329
2019-08-31  0.176616  0.143295 -0.459843  0.974580
2019-09-01 -1.499998 -0.855195 -0.766668 -0.977549
2019-09-02  0.920071  1.796293 -1.551482 -0.667212
2019-09-03 -1.156924  1.225170  0.405898 -0.591791

In [30]:
dataset = pd.read_csv('dataset.csv')
df = pd.DataFrame(data=dataset)
df.head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False

In [31]:
df.describe()

         home_score    away_score
count  40839.000000  40839.000000
mean       1.745709      1.188105
std        1.749145      1.405120
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max       31.000000     21.000000

In [34]:
df.sort_values('date').head()

,date,home_team,away_team,home_score,away_score,tournament,city,country,neutral
0,1872-11-30,Scotland,England,0,0,Friendly,Glasgow,Scotland,False
1,1873-03-08,England,Scotland,4,2,Friendly,London,England,False
2,1874-03-07,Scotland,England,2,1,Friendly,Glasgow,Scotland,False
3,1875-03-06,England,Scotland,2,2,Friendly,London,England,False
4,1876-03-04,Scotland,England,3,0,Friendly,Glasgow,Scotland,False